body {
    margin: 0;
    color: #383e45;
    font-size: 0.9rem;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
    font-size: 0.9rem;
    padding: 0 4%;
}

.sec-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

header {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 270px;
    margin: 0 auto;
    padding: 0 4%;
}

header ul {
    display: flex;
    padding: 10px 0;
}

header li {
    margin-left: 30px;
}

header li a {
    color: #24292e;
}

header li a:hover {
    opacity: 0.7;
}

header li img {
    width: 20px;
}

main {
    display: block;
}

#mainvisual {
    margin-bottom: 80px;
}

#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 420px;
}