body {
    margin: 0;
    color: 383e45;
    font-size: 0.9rem;
}

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto;
}

header {
    max-width: 960px;
    display: flex;
    align-items: center;
    height: 270px;
}

